<div id="<%= dom_id task %>">
  <p>
    <strong>User:</strong>
    <%= task.user_id %>
  </p>

  <p>
    <strong>Header:</strong>
    <%= task.header %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= task.content %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= task.priority %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= task.start %>
  </p>

  <p>
    <strong>End:</strong>
    <%= task.end %>
  </p>

</div>
