<div id="flash">
    <% flash.each do |type, msg| %>
    <div class="alert alert-info">
        <%= msg %>
    </div>
    <% end %>
</div>


<script type="text/javascript">
    $(document).ready(function(){
    setTimeout(function(){
        $('#flash').remove();
    }, 5000);
    })
</script>

<h1><%= t("task_list") %></h1>

<%= link_to t("add_task"), new_task_path %>

<table>
  <thead>
    <tr>
      <td><%= t("id") %></td>
      <td><%= t("header") %></td>
      <td><%= t("content") %></td>
      <td><%= t("priority") %></td>
      <td><%= t("status") %></td>
      <td><%= t("start_time") %></td>
      <td><%= t("end_time") %></td>
      <td><%= t("build") %></td>
      <td><%= t("management") %></td>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td><%= task.id %></td>
      <td><%= task.header %></td>
      <td><%= task.content %></td>
      <td><%= task.priority %></td>
      <td><%= task.status %></td>
      <td><%= task.start_time %></td>
      <td><%= task.end_time %></td>
      <td><%= task.created_at %></td>
      <td>
        <%= link_to t("edit_task"), edit_task_path(task) %>
        <%= link_to t("delete_task"), task_path(task), method: "delete", data: { "turbo-method": :delete, turbo_confirm: "Confirm" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>