<div id="flash">
    <% flash.each do |type, msg| %>
    <div class="alert alert-info">
        <%= msg %>
    </div>
    <% end %>
</div>


<script type="text/javascript">
    $(document).ready(function(){
    setTimeout(function(){
        $('#flash').remove();
    }, 5000);
    })
</script>

<h1><%= t("task_list") %></h1>

<%= link_to t("add_task"), new_task_path %>

<table>
  <thead>
    <tr>
      <td><%= link_to t("id"), :sort => "id", :dir => next_dir() %></td>
      <td><%= link_to t("header"), :sort => "header", :dir => next_dir() %></td>
      <td><%= link_to t("content"), :sort => "content", :dir => next_dir()  %></td>
      <td><%= link_to t("priority"), :sort => "priority", :dir => next_dir()  %></td>
      <td><%= link_to t("status"), :sort => "status", :dir => next_dir()  %></td>
      <td><%= link_to t("start_time"), :sort => "start_time", :dir => next_dir()  %></td>
      <td><%= link_to t("end_time"), :sort => "end_time", :dir => next_dir()  %></td>
      <td><%= link_to t("build"), :sort => "created_at", :dir => next_dir()  %></td>
      <td><%= t("management") %></td>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td><%= task.id %></td>
      <td><%= task.header %></td>
      <td><%= task.content %></td>
      <td><%= priority2text(task.priority) %></td>
      <td><%= status2text(task.status) %></td>
      <td><%= task.start_time %></td>
      <td><%= task.end_time %></td>
      <td><%= task.created_at %></td>
      <td>
        <%= link_to t("edit_task"), edit_task_path(task) %>
        <%= link_to t("delete_task"), task_path(task), method: "delete", data: { "turbo-method": :delete, turbo_confirm: "Confirm" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>