<div id="flash">
    <% flash.each do |type, msg| %>
    <div class="alert alert-info">
        <%= msg %>
    </div>
    <% end %>
</div>

<h1><%= t("task_list") %></h1>

<%= link_to t("add_task"), new_task_path %>

<%= form_tag(tasks_path, method: :get) do %>
  <p> Search by header </p>
  <%= text_field_tag(:search, params[:search]) %>
  <p> Status </p>
  <label>
    <%= radio_button_tag :option, 3, session[:option] == '3'%>
    <%= t('all') %>
  </label>
  <label>
    <%= radio_button_tag :option, 2, session[:option] == '2'%>
    <%= t('pending') %>
  </label>
  <label>
    <%= radio_button_tag :option, 1, session[:option] == '1'%>
    <%= t('processing') %>
  </label>
  <label>
    <%= radio_button_tag :option, 0 , session[:option] == '0'%>
    <%= t('solved') %>
  </label>
  <%= submit_tag ("Search") %>
<% end %>


<table>
  <thead>
    <tr>
      <% Task::SORT_COLUMN_LIST.each do |column_name| %>
        <td><%= link_to t(column_name), sort: column_name, dir: next_dir %></td>
      <% end %>
      
      <td><%= t("management") %></td>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td><%= task.id %></td>
      <td><%= task.header %></td>
      <td><%= task.content %></td>
      <td><%= priority2text(task.priority) %></td>
      <td><%= status2text(task.status) %></td>
      <td><%= task.start_time %></td>
      <td><%= task.end_time %></td>
      <td><%= task.created_at %></td>
      <td>
        <%= link_to t("edit_task"), edit_task_path(task) %>
        <%= link_to t("delete_task"), task_path(task), method: "delete", data: { "turbo-method": :delete, turbo_confirm: "Confirm" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @tasks %>