<%= form_for(user) do |f| %>
  <div class="form-group <%= (f.object.errors[:name].any?)? "has-error" : "" %>">
    <%= f.label :name, t("name"), :class => "control-label" %>
    <%= f.text_field :name, :class => "form-control" %>

    <% if f.object.errors[:name] %>
      <span class="help-block"><%= safe_join(f.object.errors[:name], "、") %></span>
    <% end %>
  </div>

  <div class="form-group <%= (f.object.errors[:password].any?)? "has-error" : "" %>">
    <%= f.label :password, t("password"), :class => "control-label" %>
    <%= f.text_field :password, :class => "form-control" %>

    <% if f.object.errors[:password] %>
      <span class="help-block"><%= safe_join(f.object.errors[:password], "、") %></span>
    <% end %>
  </div>

  <%= f.label :position, t("position") %>
  <%= f.select :position, [[t("user"), "user"], [t("supervisor"), "supervisor"]] %> <br />

  <%= f.submit t("submit")%>
<% end %>