<!DOCTYPE html>
<html>
  <head>
    <title>RubyTraining</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    
    <nav class="bg-red-200 border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">
      <div data-controller="navbar" class="container flex flex-wrap justify-between items-center mx-auto">
        <div class="flex items-center">
            <img src="https://miro.medium.com/max/1000/1*lEXUSkEm6M6kIHmKP9HtWg.png" class="mr-3 h-6 sm:h-5" alt="5XRuby Logo">
            <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">5XRuby</span>
        </div>
        
        <div class="flex items-center md:order-2">
            <div class="relative inline-block text-left">
              <div>
                <button data-action="click->navbar#toggle_lan" type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500" id="menu-button" aria-expanded="true" aria-haspopup="true">
                  <%= t("language")%>
                  <%= inline_svg_tag "language.svg", class:"-mr-1 ml-2 h-5 w-5" %>
                </button>
              </div>

              <div id="language_menu" class="hidden origin-top-right absolute right-0 mt-2 w-36 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                <div class="py-1" role="none">
                    <div class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">
                        <%= link_to "English (US)", :controller => controller_name, :action => action_name, :locale => "en" %>
                    </div>
                    <div class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">
                        <%= link_to "中文(繁體)", :controller => controller_name, :action => action_name, :locale => "zh-TW" %>
                    </div>
                </div>
              </div>
            </div>
          <button  data-action="click->navbar#toggle_main" data-collapse-toggle="mobile-menu-language-select" type="button" class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mobile-menu-language-select" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <%= inline_svg_tag "menu.svg", class:"w-6 h-6" %>
          </button>
        </div>

        <div class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1" id="mobile-menu-language-select">
          <ul class="flex flex-col p-4 mt-4 bg-red-200 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-red-200 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
            <li>
              <a href="/tasks" class="content-start block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white" aria-current="page">
                <%= t("task_list")%>
              </a>
            </li>
            <li>
              <a href="/users" class="content-start block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">
                <%= t("user_list")%>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>  
    <% if current_user %>
      <!-- current_user will return true if a user is logged in -->
      <%= "Logged in as #{current_user.name}" %> | <%= link_to 'Home', root_path %> | <%= link_to 'Log Out', logout_path, method: :delete %>
    <% else %>
      <!-- not logged in -->
      <%= link_to 'Home', root_path %> | <%= link_to 'Log In', login_path %> or <%= link_to 'Sign Up', new_user_path  %> or <%= link_to 'Log Out', logout_path, method: :delete %>
    <% end %>
    <%= turbo_frame_tag "modal", target: "_top" %>
    <%= render partial: "shared/flash" %>
    <%= yield %>
  </body>
</html>
